.footer {
  background-color: $footer-bg;
  color: $white;

  ul {
    padding: 0;
    a {
      color: rgb(207, 174, 238);
    }
  }

  a {
    color: rgb(207, 174, 238);
  }

  .footer-images {
    width: 60px;
  }
}
